* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  color: var(--main-color, #221d1d);
  font-family: Montserrat;
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9f9;
}
:root {
  --main-color: #232429;
  --secound-color: #ffaa17;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*///////////////////////////////////////cocmon///////////////////////////////////////*/
.btn-style1,
.btn-style2,
#submit {
  font-size: 18px;
  font-weight: 700;
  background-color: var(--secound-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: none;
  padding: 12px 40px;
  line-height: 30px;
  margin-top: 40px;
  top: -15px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  user-select: none;
}

#submit:hover,
.btn-style1:hover {
  color: var(--secound-color);
  background-color: white;
}

.btn-style2:hover {
  color: var(--secound-color);
  background-color: var(--main-color);
}

.dis-flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
}

.justify {
  justify-content: space-between;
}

.align-items {
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.dis-grid {
  display: grid;
  display: -ms-grid;
}

/*/ //////////////////////////////////////   start nav   ///////////////////////////////////////////////////*/

nav {
  width: 100%;
  min-height: 64px;
  position: fixed;
  background-color: white;
  z-index: 100;
}

figure.logo {
  width: 140px;
}
figure.logo a img {
  width: 100%;
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul li a {
  display: block;
  padding: 21px;
}

.toggle-bar {
  position: relative;
  width: 30px;
}

.toggle-bar span {
  width: 100%;
  height: 4px;
  background-color: var(--secound-color);
  margin-bottom: 1px;
  cursor: pointer;
}

.menu ul li a,
.button ul li {
  position: relative;
}
.menu li,
.button li {
  list-style-type: none;
  font-size: medium;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  height: 64px;
  user-select: none;
}

.menu ul li a::before,
.button ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 100%;
  border-width: 0 2px;
  border-style: solid;
  border-color: var(--secound-color);
  transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -o-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}

.menu ul li a:hover::before,
.button ul li:hover:before {
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
}

.menu ul li a::after,
.button ul li:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 95%;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--secound-color);
  transform: scale3d(0, 1, 1);
  -webkit-transform: scale3d(0, 1, 1);
  -ms-transform: scale3d(0, 1, 1);
  -o-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transform-origin: left;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
}

.menu ul li a:hover::after,
.button ul li:hover::after {
  transform: scale3d(1, 1, 1);
  -webkit-transform: (1, 1, 1);
  -ms-transform: (1, 1, 1);
  -o-transform: (1, 1, 1);
  -moz-transform: (1, 1, 1);
  transition-delay: 0.2s;

  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}

nav .container {
  min-height: 64px;
}

/*///////////////////////////////////////   start header   ///////////////////////////////////////////////////*/

header .dis-flex {
  flex-wrap: nowrap;
}

header {
  position: relative;
  padding-top: 176px;
  background-color: var(--main-color);
  width: 100%;
}

header .text {
  margin-top: 20px;
  max-width: 626px;
  word-wrap: break-word;
  overflow: hidden;
}
header .text1 {
  font-size: 41pt;
  font-weight: bolder;
  text-transform: capitalize;
  line-height: 1.8;
  margin-bottom: 14px;
  overflow: hidden;
  color: white;
}
header .text2 {
  font-size: 12pt;
  line-height: 1.8;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 500;
  color: white;
}

.header-img img {
  margin-top: 10px;

  width: 100%;
  height: 100%;
}

header .button button span {
  position: relative;
  z-index: 3;
}
header .button button {
  cursor: pointer;
}

/*/ //////////////////////////////////////   start portofolio   ///////////////////////////////////////////////////*/

.portfolio {
  position: relative;
  top: 197px;
}
.portfolio .container .text3 {
  font-size: 48pt;
  font-weight: bolder;
  transition: all 0.3s linear;
}

.filter {
  margin-top: 30px;
}
.portfolio .container .newest-first {
  font-size: 12pt;
  padding: 10px;
}
.portfolio .container .button li {
  padding: 21px;
  display: block;
}

.portfolio .container .newest-first span {
  margin-right: 3px;
}

.active {
  background-color: var(--secound-color, #ffe100);
}

.portfolio .showcase {
  gap: 3px;
  margin-top: 60px;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.showcase div:nth-child(3) {
  grid-row: span2;
}

.showcase .fig {
  position: relative;
  height: 200px;
  cursor: pointer;
}

.showcase .fig span {
  font-size: 12pt;
  font-weight: 700;
  color: #1c6888;
  top: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.showcase figure img,
.showcase figure {
  width: 100%;
  height: 100%;
}

.fig div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secound-color, #ffe100);
  opacity: 90%;
  visibility: hidden;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.fig:hover div {
  visibility: visible;
}
.fig h2 {
  font-size: 18pt;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.portfolio .show-me-more {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

/*///////////////////////////////////////   start about   ///////////////////////////////////////////////////*/

.about {
  margin-top: 322px;
  background-color: #f0f4f9;
  width: 100%;
}
.about text {
  max-width: 100%;
  word-wrap: break-word;
}
.about .text h2 {
  font-size: 50pt;
  font-weight: bolder;
}
.about .text p {
  font-size: 12pt;
  margin-top: 50px;
  line-height: 1.8;
  font-weight: 500;
}
.about .persones figure img {
  width: 100%;
  height: 100%;
}

.persones {
  margin-top: 60px;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 30px;
  justify-content: space-between;
}

.about .persones figure {
  position: relative;
}
.about .persones figure p:first-of-type {
  font-size: 15pt;
  font-weight: bolder;
}
.about .persones figure p:last-of-type {
  font-size: 12pt;
  color: white;
  margin-top: 5px;
  font-weight: 700;
}

.about .persones figure div {
  background-color: var(--secound-color, #ffe100);
  width: 75%;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

/*/ //////////////////////////////////////   start our blog   ///////////////////////////////////////////////////*/

.blog {
  margin-top: 155px;
}
.blog .container > h2 {
  font-size: 50pt;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.blog .container > p {
  font-size: 12pt;
  line-height: 1.8;
  margin-left: 10px;
  font-weight: 500;
}
.blog .container .artical {
  margin-top: 45px;
}
.blog .container .artical artical h2 {
  font-size: 15pt;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  max-height: 50px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #221d1d;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}
.blog .container .artical artical p {
  font-size: 12pt;
  line-height: 1.8;
  margin-left: 10px;
  max-width: 300px;
  max-height: 80px;
  text-overflow: ellipsis;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: #221d1d;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.blog .container .artical artical time {
  margin-left: 15px;
  font-size: 9pt;
  margin-top: 6px;
  display: block;
  font-weight: 500;
  position: relative;
  z-index: 2;
  color: #221d1d;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}
.blog .container .artical {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-template-rows: repeat(auto-fill, minmax(410px, 1fr));
  -ms-grid-rows: repeat(auto-fill, minmax(410px, 1fr));
  gap: 15px;
}

.blog .container .artical figure {
  position: relative;
  height: 59%;
  width: 100%;
  cursor: pointer;
}
.blog .container .artical figure img {
  width: 100%;
  height: 100%;
}
.common_artical figure::before {
  content: "READ MORE";
  font-size: 20pt;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
.common_artical figure::after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  position: absolute;
  background-color: var(--secound-color, #ffe100);
  opacity: 90%;
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
}
.common_artical:hover figure::after {
  height: 100%;
}

.blog .container .artical artical {
  margin-top: 40px;
}

.common_artical:hover figure::before {
  opacity: 1;
}

.common_artical {
  position: relative;
  cursor: pointer;
}
.common_artical::before {
  position: absolute;
  top: -2%;
  right: 0;
  left: -4%;
  content: "";
  width: 108%;
  height: 0;
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 16px 21px rgb(116 116 116);
  -webkit-box-shadow: 0 16px 21px rgb(116 116 116);
}
.common_artical:hover::before {
  background-color: var(--main-color);
  height: 92%;
}
.common_artical:hover h2 {
  color: white !important;
}
.common_artical:hover p {
  color: white !important;
}
.common_artical:hover time {
  color: white !important;
}
/*///////////////////////////////////////   start contact   ///////////////////////////////////////////////////*/

.contact {
  margin-top: 100px;
  background-color: var(--main-color);
  padding-top: 50px;
  text-align: center;
}
.contact .container .text h2 {
  font-size: 50pt;
  font-weight: bolder;
  margin-bottom: 40px;
  color: white;
}

.contact .container .text p {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--secound-color);
}

.row {
  margin-top: 100px;
}

.col-lg-1,
.col-lg-2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}
.row .form_control {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.form_control:focus {
  box-shadow: 0.5px 0.5px 4px #ffa509, -0.5px -0.5px 4px #ffa509;
  -webkit-box-shadow: 0.5px 0.5px 4px #ffa509, -0.5px -0.5px 4px #ffa509;
}

.row .form_textarea textarea.form_control {
  resize: vertical;
  position: relative;
  height: 180px;
  padding-top: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}

/*/ //////////////////////////////////////   start footer   ///////////////////////////////////////////////////*/

footer {
  width: 100%;
  background-color: var(--secound-color);
  padding: 20px 0;
}
footer .container .foot-content {
  position: relative;
  z-index: 2;
}

footer .container .logo img {
  width: 110px;
}

footer .container span {
  font-size: 14px;
  color: var(--main-color);
  position: relative;
  top: -15px;
  left: -40px;
  font-weight: 500;
}

.social .toggle {
  background-color: #4d4d4d;
  text-align: center;
  display: block;
  height: 45px;
  width: 45px;
  margin-left: 3px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 28px;
  line-height: 45px;
  color: #bababa;
}

.social ul {
  list-style-type: none;
}
.social li {
  display: inline-block;
}

.social .toggle:hover {
  color: white;
}
.social .fa-facebook-f:hover {
  background-color: #3b5998;
}
.fa-linkedin-in:hover {
  background-color: #0a66c2;
}
.social .fa-instagram:hover {
  background-color: #3f729b;
}
.social .fa-twitter:hover {
  background-color: #55acee;
}

.up {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: -70px;
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  font-size: 30px;
  border-radius: 6px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s linear;
}
.up i {
  color: var(--secound-color);
}
.show {
  bottom: 20px;
  opacity: 1;
}
